.header-tile {
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: aliceblue;
    padding: 0 10px;
}

.navbar-inputgroup {
    height: 30px !important;
    margin: 10px;

}

.branddetail {
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
    align-items: baseline;
    justify-content: flex-start;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(250, 59, 97)
}

.App-logo {
    height: 8vmin;
    border-radius: 50%;
}