.main_container {
    display: flex;
    width: 100%;
}

.left_container {
    display: flex;
    flex-direction: column;
    flex: .6;
    border-right: 1px solid lightgray;
    padding: 50px 80px;
    max-width: 960px;
}

.right_container {
    display: flex;
    flex-direction: column;
    flex: 0.4;
    justify-content: flex-start;
    align-items: center;
    margin: 30px 50px;
}

.tabs {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    overflow-x: scroll !important;
    padding: 0 30px;

}

.tabs button {
    background-color: lightgray;
    border: none;
    color: #888888;
    cursor: pointer;
    padding: 25px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: all 0.5s ease-out;
}

.tabs button:hover {
    color: black;
    background-color: rgba(255, 255, 255, 0.15);
}

.tabs button:disabled {
    background: linear-gradient(245.39deg, #FC65ED -35.14%, #0500FF 143.06%);
    color: white;
}

.tabs::-webkit-scrollbar {
    width: 10px;
}

.tabs::-webkit-scrollbar-button {
    display: block;
    background-repeat: no-repeat;   
    background-size: 100%;
    width: 17px;
    height: 17px;
}

.tabs::-webkit-scrollbar-button:horizontal:start:increment {
    background-image: url('../svg/circle-right-solid.svg');  

}

.tabs::-webkit-scrollbar-button:horizontal:end:decrement {
    background-image: url('../svg/circle-left-solid.svg');   
 
}

.title {
    color: black;
    font-size: medium;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
}

.content {
    padding: 30px 20px;
    background-color: white;
    font-weight: 300;
    line-height: 30px;
    font-size: 16px;
    text-align: justify;
}

.content,
button {
    font-size: 15px;
}



  

