.post {
    grid-template-rows: auto 4rem auto;
    display: grid;
    grid-column: 2/10;
  }
  
      
  .postActions {
    color: #7d848b;
    display: grid;
    width: fit-content;
    grid-template-columns: auto auto auto;
    padding : 1rem 0rem 1rem 0rem;
    grid-gap: 1rem;
  }
  
  .postActionCount {
    display: grid;
    grid-template-columns: 2rem auto;
  }
  
  .postActionCount:hover{
    color: #0d6efd;
  }
  
  .postActionCountActive {
    display: grid;
    color: #0d6efd;
    grid-template-columns: 2rem auto;
  }
  
  .postActionCountActive > div {
    font-size: 1.2rem;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  